#cities{
  border-style: solid;
  color: #000;
}

#joacaba{
  border-style: solid;
  color: #FFC312;
}

#jardim-alvorada{
  border-style: solid;
  color: #ED4C67;
}

#frei-bruno{
  border-style: solid;
  color: #0652DD;
}

#luzerna{
  border-style: solid;
  color: #EA2027;
}

#jardim-italia{
  border-style: solid;
  color: #009432;
}

#empresarial{
  border-style: solid;
  color: #006266;
}